//- page.pug
html
  head
    include ../../page-elements/views/head.pug
  body
    #page.page
      include ../../page-elements/views/header.pug
      block content
      include ../../page-elements/views/footer.pug
