//- index.pug
extends ../../pages/views/page.pug

include widgets/defaults.pug

block title
  | boilerplate

block content
  div#boilerplate.boilerplate.flex-wrapper

    include widgets/header.pug

    #boilerplate-container.boilerplate-container.flex-block.flex-center
      h2.boilerplate-headline #{__('Hello')}
      a.form-link(href='/boilerplate/form/') Formular
