// Styles for compare-layouts -  variables

@font_family: Arial, Helvetica, sans-serif;
@font_size: 14px;
@text_color: #000000;
@headline_color: #000000;
@h1_font_size: 1.5rem;
@h2_font_size: 1.2rem;
@link_color: #0000cc;
@body_padding: 10px;
