<!DOCTYPE html>
<html lang="de">
	<head>
<%- include("../../../page-elements/views/head.ejs", {title: '404 - not found'}) %>
	</head>
	<body>
		<div class="page">
			<div id="header" class="header">
<%- include("../../../page-elements/views/header.ejs") %>
			</div>
			<h1 id="headline">404 - <%= __('not found') %></h1>
<%- include("../../../page-elements/views/footer.ejs") %>
		</div>
	</body>
</html>
