<!DOCTYPE html>
<html lang="de">
	<head>
<%- include("../../../page-elements/views/head.ejs") %>
	</head>
	<body>
		<div class="page">
			<div id="header" class="header">
<%- include("../../../page-elements/views/header.ejs") %>
			</div>
			<h1>404 - not found</h1>
<%- include("../../../page-elements/views/footer.ejs") %>
		</div>
	</body>
</html>
