// Styles for motion frontend - page layout and basic settings

body {
	background-color: #ffffff;
	border: 0;
	color: @text_color;
	font-family: @font_family;
	font-size: @font_size;
	margin: 0;
	padding: @body_padding;
}

h1 {
	color: @headline_color;
	font-size: @h1_font_size;
	font-weight: bold;
	margin-bottom: 1.0rem;
	margin-top: 0;
}

h2 {
	color: @headline_color;
	font-size: @h2_font_size;
	font-weight: bold;
	margin-bottom: 0.8rem;
	margin-top: 0.5rem;
}

a {
	color: @link_color;
	text-decoration: underline;
}

img {
	border: 0;
}

div {
	margin: 0;
	padding: 0;
}



.hidden {
	display: none;
}
