//- footer.pug
block footer
  #footer.footer
    #footer-content.footer-content
      p#copyright.copyright &copy; 2018
        = " "
        a(href='mailto:entwicklung@uwegerdes.de') Uwe Gerdes
  include footer-scripts.pug
