		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title><% if (locals.title) { %><%- title %><% } else { %>Module<% } %></title>
		<meta name="viewport" content="width=device-width">
		<meta name="author" content="Uwe Gerdes, entwicklung@uwegerdes.de">
		<meta name="description" content="Webapp">
		<link rel="stylesheet" href="/css/app.css" />
