//- head.pug
block head
  meta(charset='utf-8')
  meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
  title #{title}
  meta(name='viewport', content='width=device-width')
  meta(name='author', content='Uwe Gerdes, entwicklung@uwegerdes.de')
  meta(name='description', content='#{title}')
  link(rel='stylesheet', href='/css/app.css')
