//- login-status.pug
if session
  #login-status.login-status
    if session.userdata
      .login-status-ok= 'Angemeldet über ' + session.oauthProvider + ' als '  + session.userdata.name
    else
      .login-status-login
        a(href='/login/') anmelden
