//- login-status.pug
if session
  #login-status.login-status
    block loginStatus
      if session.userdata
        .login-status-ok= 'Angemeldet über ' + session.oauthProvider + ' als '  + session.userdata.username
      else
        a.login-status-login(href='/login/') anmelden
